.btn {
    margin-right: 10px;
}

.titulo {
    margin-left: 10px;
}

.contactForm {
    margin-left: 30px;
    margin-right: 30px;
}

.card {
    margin: 30px;
}

.img-contacto {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.iconos {
    padding: 20px;
}

.info-contacto {
    padding: 20px;
}